<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="39"
    android:versionName="3.91"
    android:compileSdkVersion="30"
    android:compileSdkVersionCodename="11"
    package="com.qnmd.adnnm.da0yzo"
    platformBuildVersionCode="30"
    platformBuildVersionName="11">
    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="28"/>
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <queries package="com.qnmd.adnnm.da0yzo">
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE"/>
        </intent>
        <intent>
            <action android:name="android.media.action.ACTION_VIDEO_CAPTURE"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.MAIN"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
        </intent>
    </queries>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <supports-screens
        android:anyDensity="true"
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:resizeable="true"/>
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <application
        android:theme="@style/AppTheme"
        android:label="@string/app_name"
        android:icon="@drawable/ic_logo"
        android:name="com.jbzd.media.movecartoons.MyApp"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:resizeableActivity="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/ic_logo"
        android:maxAspectRatio="2.4"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory">
        <activity
            android:name="com.jbzd.media.movecartoons.p396ui.wallet.OrderActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.jbzd.media.movecartoons.p396ui.wallet.RechargeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@style/Theme.AppCompat.Translucent"
            android:name="com.jbzd.media.movecartoons.p396ui.download.LocalPlayerActivity"
            android:screenOrientation="portrait"
            android:configChanges="smallestScreenSize|screenSize|uiMode|screenLayout|orientation|keyboardHidden|keyboard"/>
        <receiver android:name="com.jbzd.media.movecartoons.p396ui.appstore.DownloadCompleteReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>
        <service
            android:name="com.jbzd.media.movecartoons.service.AudioPlayerService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.player.notify.next"/>
                <action android:name="com.player.notify.prev"/>
                <action android:name="com.player.notify.back"/>
                <action android:name="com.player.notify.forward"/>
                <action android:name="com.player.notify.play_state"/>
                <action android:name="com.player.notify.close"/>
            </intent-filter>
        </service>
        <activity
            android:name="com.jbzd.media.movecartoons.p396ui.web.WebActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:name="com.jbzd.media.movecartoons.p396ui.download.WebPlayerActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:name="com.jbzd.media.movecartoons.p396ui.vip.ExchangeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.jbzd.media.movecartoons.p396ui.vip.BuyActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.jbzd.media.movecartoons.p396ui.appstore.AppStoreActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.jbzd.media.movecartoons.p396ui.settings.MineInfoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.jbzd.media.movecartoons.p396ui.settings.UserInfoSexActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.jbzd.media.movecartoons.p396ui.settings.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.jbzd.media.movecartoons.p396ui.settings.RegisterActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.jbzd.media.movecartoons.p396ui.settings.AccountCardIdActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.jbzd.media.movecartoons.p396ui.accountvoucher.ScanActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@style/Theme.AppCompat.Translucent"
            android:name="com.jbzd.media.movecartoons.p396ui.preview.PreviewVideoActivity"
            android:screenOrientation="portrait"
            android:configChanges="smallestScreenSize|screenSize|uiMode|screenLayout|orientation|keyboardHidden|keyboard"/>
        <activity
            android:theme="@style/PreViewImage"
            android:name="com.jbzd.media.movecartoons.p396ui.preview.PreviewImageActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.jbzd.media.movecartoons.p396ui.chat.ChatDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.jbzd.media.movecartoons.p396ui.chat.NewsCenterContinueActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.jbzd.media.movecartoons.p396ui.wallet.BillActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@style/Theme.AppCompat.Translucent"
            android:name="com.jbzd.media.movecartoons.p396ui.movie.MovieDetailsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:configChanges="smallestScreenSize|screenSize|uiMode|screenLayout|orientation|keyboardHidden|keyboard"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
            android:name="com.jbzd.media.movecartoons.p396ui.search.SearchResultActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.jbzd.media.movecartoons.p396ui.search.TagDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.jbzd.media.movecartoons.p396ui.search.ModuleDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.jbzd.media.movecartoons.p396ui.search.ComicsModuleDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.jbzd.media.movecartoons.p396ui.search.ComicsBlockListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.jbzd.media.movecartoons.p396ui.search.ComicsDayInfoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.jbzd.media.movecartoons.p396ui.comics.ComicsDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.jbzd.media.movecartoons.p396ui.comics.ComicsTableContentAllActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.jbzd.media.movecartoons.p396ui.novel.NovelTableContentAllActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.jbzd.media.movecartoons.p396ui.comics.ComicsChapterViewActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@style/Theme.AppCompat.Translucent"
            android:name="com.jbzd.media.movecartoons.p396ui.novel.NovelDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
            android:name="com.jbzd.media.movecartoons.p396ui.novel.NovelChapterViewActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.jbzd.media.movecartoons.p396ui.novel.AudioPlayerActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.jbzd.media.movecartoons.p396ui.search.SearchHomeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.jbzd.media.movecartoons.p396ui.search.MyBoughtActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.jbzd.media.movecartoons.p396ui.vip.VipActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.jbzd.media.movecartoons.p396ui.vip.PayingActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.jbzd.media.movecartoons.p396ui.share.ShareListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.jbzd.media.movecartoons.p396ui.share.InviteActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.jbzd.media.movecartoons.p396ui.share.ShareBindActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.jbzd.media.movecartoons.p396ui.accountvoucher.FindActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.jbzd.media.movecartoons.p396ui.mine.child.MineListMoreActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.jbzd.media.movecartoons.p396ui.mine.MyFansAndFollowsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.jbzd.media.movecartoons.p396ui.mine.history.HistoryActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.jbzd.media.movecartoons.p396ui.settings.ModifyNicknameActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.jbzd.media.movecartoons.p396ui.settings.AvatarActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.jbzd.media.movecartoons.p396ui.settings.SettingActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.jbzd.media.movecartoons.p396ui.mine.favority.FavoriteActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.jbzd.media.movecartoons.p396ui.chat.NewsCenterActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.jbzd.media.movecartoons.p396ui.index.IndexActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|screenLayout|orientation|keyboardHidden"/>
        <activity
            android:name="com.jbzd.media.movecartoons.p396ui.index.post.block.ModulePostBlockActivity"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|screenLayout|orientation|keyboardHidden"/>
        <activity
            android:name="com.jbzd.media.movecartoons.p396ui.index.post.block.PostCategoryDetailActivity"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|screenLayout|orientation|keyboardHidden"/>
        <activity
            android:name="com.jbzd.media.movecartoons.p396ui.post.PostInputActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|screenLayout|orientation|keyboardHidden"/>
        <activity
            android:name="com.jbzd.media.movecartoons.p396ui.post.PostVideoTagChooseActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|screenLayout|orientation|keyboardHidden"/>
        <activity
            android:name="com.jbzd.media.movecartoons.p396ui.post.MyPostListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|screenLayout|orientation|keyboardHidden"/>
        <activity
            android:name="com.jbzd.media.movecartoons.p396ui.post.SelectTagsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|screenLayout|orientation|keyboardHidden"/>
        <activity
            android:name="com.jbzd.media.movecartoons.p396ui.post.topic.PostDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.jbzd.media.movecartoons.p396ui.post.topic.PostAiClearClosethActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.jbzd.media.movecartoons.p396ui.post.topic.PostAiCanvasActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.jbzd.media.movecartoons.p396ui.post.topic.PostAiChangeFaceActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.jbzd.media.movecartoons.p396ui.index.home.child.CreaterApplyActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.jbzd.media.movecartoons.p396ui.index.home.child.VideoListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.jbzd.media.movecartoons.p396ui.index.medialib.child.WorksManagerActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.jbzd.media.movecartoons.p396ui.index.medialib.child.UploadListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.jbzd.media.movecartoons.p396ui.index.medialib.child.PromotionDataActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.jbzd.media.movecartoons.p396ui.index.medialib.child.IncomeLogActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.jbzd.media.movecartoons.p396ui.index.selected.child.PlayListActivity"
            android:screenOrientation="portrait"
            android:configChanges="smallestScreenSize|screenSize|screenLayout|orientation"/>
        <activity
            android:name="com.jbzd.media.movecartoons.p396ui.download.DownloadActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.jbzd.media.movecartoons.p396ui.mine.cache.CacheActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.jbzd.media.movecartoons.p396ui.welfare.SignInAndWelfareTasksPage"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.jbzd.media.movecartoons.p396ui.mine.child.FollowActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.jbzd.media.movecartoons.p396ui.mine.MyVideosActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.jbzd.media.movecartoons.p396ui.post.user.UserPostHomeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4"/>
        <meta-data
            android:name="android.notch_support"
            android:value="true"/>
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape"/>
        <activity
            android:theme="@style/SplashTheme"
            android:label="@string/app_name"
            android:name="com.jbzd.media.movecartoons.p396ui.splash.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity-alias
            android:label="@string/app_name"
            android:icon="@drawable/ic_logo"
            android:name="com.jbzd.media.movecartoons.aliasFour"
            android:enabled="false"
            android:targetActivity="com.jbzd.media.movecartoons.ui.splash.SplashActivity"
            android:roundIcon="@drawable/ic_logo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:label="@string/app_name"
            android:icon="@drawable/ic_logo"
            android:name="com.jbzd.media.movecartoons.aliasThree"
            android:enabled="false"
            android:targetActivity="com.jbzd.media.movecartoons.ui.splash.SplashActivity"
            android:roundIcon="@drawable/ic_logo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:label="@string/app_name"
            android:icon="@drawable/ic_logo"
            android:name="com.jbzd.media.movecartoons.aliasTwo"
            android:enabled="false"
            android:targetActivity="com.jbzd.media.movecartoons.ui.splash.SplashActivity"
            android:roundIcon="@drawable/ic_logo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:label="@string/app_name"
            android:icon="@drawable/ic_logo"
            android:name="com.jbzd.media.movecartoons.aliasOne"
            android:enabled="false"
            android:targetActivity="com.jbzd.media.movecartoons.ui.splash.SplashActivity"
            android:roundIcon="@drawable/ic_logo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:multiprocess="true"
            android:authorities="com.qnmd.adnnm.da0yzo.fileprovider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
        <provider
            android:name="com.luck.picture.lib.PictureFileProvider"
            android:exported="false"
            android:authorities="com.qnmd.adnnm.da0yzo.provider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
        <activity
            android:name="com.luck.picture.lib.PictureSelectorActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:name="com.luck.picture.lib.PictureSelectorWeChatStyleActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:theme="@style/Picture.Theme.Translucent"
            android:name="com.luck.picture.lib.PictureSelectorCameraEmptyActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:name="com.luck.picture.lib.PictureCustomCameraActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:name="com.luck.picture.lib.PicturePreviewActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:name="com.luck.picture.lib.PictureSelectorPreviewWeChatStyleActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:name="com.luck.picture.lib.PictureVideoPlayActivity"
            android:screenOrientation="sensor"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:name="com.luck.picture.lib.PictureExternalPreviewActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:name="com.luck.picture.lib.PicturePlayAudioActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:theme="@style/Base.Theme.NoActionBar"
            android:name="com.yalantis.ucrop.UCropActivity"/>
        <activity
            android:theme="@style/Base.Theme.NoActionBar"
            android:name="com.yalantis.ucrop.PictureMultiCuttingActivity"/>
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false"/>
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:exported="false"
            android:configChanges="screenSize|orientation|navigation|keyboardHidden"/>
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:exported="false"
            android:configChanges="screenSize|orientation|navigation|keyboardHidden"/>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.alipay.sdk.app.PayResultActivity"
            android:exported="true"
            android:launchMode="singleInstance"
            android:configChanges="screenSize|orientation|navigation|keyboardHidden">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.alipay.sdk.app.AlipayResultActivity"
            android:exported="true"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.alipay.sdk.app.H5OpenAuthActivity"
            android:exported="false"
            android:screenOrientation="behind"
            android:configChanges="screenSize|orientation|navigation|keyboardHidden"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
            android:theme="@style/ActivityTranslucent"
            android:name="com.blankj.utilcode.util.UtilsTransActivity4MainProcess"
            android:exported="false"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:theme="@style/ActivityTranslucent"
            android:name="com.blankj.utilcode.util.UtilsTransActivity"
            android:exported="false"
            android:multiprocess="true"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <provider
            android:name="com.blankj.utilcode.util.UtilsFileProvider"
            android:exported="false"
            android:authorities="com.qnmd.adnnm.da0yzo.utilcode.fileprovider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/util_code_provider_paths"/>
        </provider>
        <service
            android:name="com.blankj.utilcode.util.MessengerUtils.ServerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.qnmd.adnnm.da0yzo.messenger"/>
            </intent-filter>
        </service>
        <activity
            android:name="com.lljjcoder.style.citylist.CityListSelectActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing|stateUnchanged"/>
        <activity
            android:name="com.lljjcoder.style.citythreelist.ProvinceActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing|stateUnchanged"/>
        <activity
            android:name="com.lljjcoder.style.citythreelist.CityActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing|stateUnchanged"/>
        <activity
            android:name="com.lljjcoder.style.citythreelist.AreaActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing|stateUnchanged"/>
        <provider
            android:name="com.noober.background.BackgroundContentProvider"
            android:exported="false"
            android:multiprocess="true"
            android:authorities="com.qnmd.adnnm.da0yzo.backgroundLibrary"/>
        <provider
            android:name="androidx.work.impl.WorkManagerInitializer"
            android:exported="false"
            android:multiprocess="true"
            android:authorities="com.qnmd.adnnm.da0yzo.workmanager-init"
            android:directBootAware="false"/>
        <service
            android:name="androidx.work.impl.background.systemalarm.SystemAlarmService"
            android:enabled="@bool/enable_system_alarm_service_default"
            android:exported="false"
            android:directBootAware="false"/>
        <service
            android:name="androidx.work.impl.background.systemjob.SystemJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:enabled="@bool/enable_system_job_service_default"
            android:exported="true"
            android:directBootAware="false"/>
        <service
            android:name="androidx.work.impl.foreground.SystemForegroundService"
            android:enabled="@bool/enable_system_foreground_service_default"
            android:exported="false"
            android:directBootAware="false"/>
        <receiver
            android:name="androidx.work.impl.utils.ForceStopRunnable.BroadcastReceiver"
            android:enabled="true"
            android:exported="false"
            android:directBootAware="false"/>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxy.BatteryChargingProxy"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxy.BatteryNotLowProxy"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_OKAY"/>
                <action android:name="android.intent.action.BATTERY_LOW"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxy.StorageNotLowProxy"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="android.intent.action.DEVICE_STORAGE_LOW"/>
                <action android:name="android.intent.action.DEVICE_STORAGE_OK"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxy.NetworkStateProxy"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.RescheduleReceiver"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.TIME_SET"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxyUpdateReceiver"
            android:enabled="@bool/enable_system_alarm_service_default"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="androidx.work.impl.background.systemalarm.UpdateProxies"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.diagnostics.DiagnosticsReceiver"
            android:permission="android.permission.DUMP"
            android:enabled="true"
            android:exported="true"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="androidx.work.diagnostics.REQUEST_DIAGNOSTICS"/>
            </intent-filter>
        </receiver>
        <provider
            android:name="androidx.lifecycle.ProcessLifecycleOwnerInitializer"
            android:exported="false"
            android:multiprocess="true"
            android:authorities="com.qnmd.adnnm.da0yzo.lifecycle-process"/>
        <service
            android:name="androidx.room.MultiInstanceInvalidationService"
            android:exported="false"
            android:directBootAware="true"/>
    </application>
</manifest>
